Source: ros-kinetic-razor-imu-9dof
Section: misc
Priority: optional
Maintainer: Fabrice LE BARS <fabrice.le_bars@ensta-bretagne.org>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, ros-kinetic-catkin, ros-kinetic-dynamic-reconfigure
Homepage: http://ros.org/wiki/razor_imu_9dof
Standards-Version: 3.9.2

Package: ros-kinetic-razor-imu-9dof
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-serial, ros-kinetic-dynamic-reconfigure, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-tf
Description: razor_imu_9dof is a package that provides a ROS driver for the Sparkfun OpenLog Artemis, 9DoF Razor IMU M0, 9DOF Razor IMU and 9DOF Sensor Stick.
 It also provides Arduino firmware that runs on the board, and which must be installed on it for the system to work. A node which displays the attitude (roll, pitch and yaw) of the board (or any IMU) is provided for testing.
